body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: radial-gradient(grey, white, black,grey,white,black);
    background-repeat: no-repeat;
    height: 100vh;
  }
  .container{
    background-image: linear-gradient(white, grey);
    border: solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 15px;
    width: 50%;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
  
  }
  
  h1 {
    color: #333;
  }
  
  label {
    margin-right: 5px;
    color: black;
  }
  
  input {
    width: 300px;
    border-radius: 8px;
  }
  
  button {
    padding: 5px 10px;
    margin-left: 10px;
  }
  button:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;

  }
  
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    color: black;
  }